footer {
  position: fixed;
  margin-top: 80px;
  padding: 20px;
  text-align: center;
  background-color: rgba(136, 35, 192, 1);
  bottom: 0;
  width: 100%;
  height: 40px;
}

#aboutLoginBtn {
  align-items: center;
  margin-left: 0px;
  width: 94%;
  
}

#aboutLoginBtnSpecific {
  background-color: white;
  color: blueviolet;
  font-family: 'Patrick Hand SC', cursive;
}

#aboutLogoutBtn {
  align-items: center;
  margin-left: 0px;
  width: 63%;
  display: inline;
  float: left;
  
}

#aboutLogoutBtnSpecific {
  background-color: white;
  color: blueviolet;
  font-family: 'Patrick Hand SC', cursive;
  display: inline;
}

#gridIcon {
  display: inline;
  width: 5%;
  height: 50%;
  float:left;
}

#aboutGridIcon {
  display: inline;
  margin-left: 20px;
  margin-bottom: 40px;
  height: 50%;
  float: left;
  padding-bottom: 30px;
}

#aboutLoggedIn {
  margin-left: 0px;
  padding-left: 0px;
  
}

#aboutListIcon {
  margin-right: 53px;
}

#addTaskIcon {
  float: left;
  margin-left: 55px;
}

#userListIcon {
  margin-right: 60px;
  float:right ;
}

#GraphAddTaskIcon {
  float: right;
  margin-right: 100px;
}

#graphListIcon {
  margin-left: 60px;
  float:left ;
}

#listGridIcon {
  margin-left: 60px;
  float:left ;
}

#addListIcon {
  float: right;
  margin-right: 100px;
}

#addGridIcon {
  margin-left: 60px;
  float:left ; 
}